* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background-image: url(/img/s3.jpg);
  background-size: 100% auto;
  background-repeat: repeat-y;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

@media (min-width: 1200px) {
  .header {
    background-color: blanchedalmond;
    padding: 10px 0;
    font-weight: bold;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
  }
  .header__wrap {
    display: flex;
    justify-content: space-between;
  }
  .header__left {
    width: 80px;
    display: flex;
    align-items: center;
  }
  .header__left-imag {
    width: 50px;
    height: 50px;
  }
  .form__search__coffee {
    position: relative;
  }
  .search__cofee {
    padding: 13px 35px 13px 7px;
    border-radius: 10px;
    border: none;
    position: relative;
    outline: none;
    box-shadow: 1px 1px 2px 0px rgb(191, 177, 143);
  }
  .btn__form {
    position: absolute;
    font-size: 0.9em;
    padding: 4px;
    border-radius: 50%;
    border-width: 1px;
    border-color: chocolate;
    background-color: blanchedalmond;
    right: 6px;
    top: 6px;
    transition: all 0.4s linear;
    cursor: pointer;
  }
  .btn__form:hover {
    background-color: rgb(250, 240, 226);
  }
  .nav__list {
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  .nav__list a {
    padding: 12px;
    border-radius: 10px;
  }
  .nav__list > li > a {
    display: block;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px rgb(191, 177, 143);
    transition: all 0.1s 0s linear;
  }
  .drop__down-menu {
    position: relative;
  }
  .drop__down-list {
    text-align: center;
    padding: 5px 3px 0 3px;
    height: 0;
    width: 100%;
    position: absolute;
    top: 35px;
    left: 0;
    overflow-y: hidden;
    transition: height 1s ease 0s;
    z-index: 10;
  }
  .drop__down-list li {
    padding: 5px;
    margin-top: 5px;
    background-color: white;
    border-radius: 10px;
    position: relative;
  }
  .drop__down-list li:hover {
    box-shadow: 2px 2px 2px rgb(174, 171, 150);
  }
  .nav__list-seed {
    height: 170px;
  }
  .shop {
    padding: 30px 0;
  }
  .shop__content {
    text-align: center;
    padding-bottom: 50px;
  }
  .shop__body {
    margin: 0 auto;
    width: 1120px;
    position: relative;
  }
  .shop__img {
    height: 270px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .shop__item {
    width: 260px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
  }
  .show__description {
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid chocolate;
    background-color: blanchedalmond;
    opacity: 0;
    transition: all 0.1s linear;
    transition: opacity 0.2s linear;
  }
  .show__description:hover {
    box-shadow: -1px -1px 1px gray;
  }
  .shop__item:hover .show__description {
    opacity: 1;
  }
  .shop__img_bg1 {
    background-image: url(../img/s6-f1.png);
  }
  .shop__img_bg2 {
    background-image: url(../img/s6-f2.png);
  }
  .shop__img_bg3 {
    background-image: url(../img/s6-f3.png);
  }
  .shop__img_bg4 {
    background-image: url(../img/s6-f4.png);
  }
  .nav__list > li > a:hover,
  .nav__list-isopened {
    background-color: white;
    border-radius: 10px;
  }
  .modal__buy {
    background-color: rgb(241, 221, 195);
    opacity: 0;
    padding: 10px 30px;
    border-radius: 20px;
    border-top-left-radius: 0;
    transition: all 0.3s linear;
  }
  #shop__cart {
    position: relative;
  }
  .shop__cart_count {
    color: white;
    font-size: 0.9em;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    display: block;
    background-color: rgb(162, 96, 197);
    border-radius: 50%;
    top: calc(100% - 16px);
    right: -16px;
  }
  .shop__img:hover .modal__buy {
    opacity: 1;
  }
  .description__item {
    position: absolute;
    background: rgba(245, 226, 191, 0.9);
    width: 370px;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    top: 0;
  }
  .description__wrap {
    background-color: rgba(252, 249, 239, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .description__item hr {
    width: 130px;
    margin: 0 auto;
    height: 1px;
    background-color: chocolate;
    border: none;
  }
  .description__img {
    height: 370px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .description__title,
  .description__text,
  .description__price {
    margin: 15px;
  }
  .description__btn {
    display: block;
    margin: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .description__closs {
    width: 35px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .shopping__modal {
    padding: 0 20px;
  }
  .shopping__basket {
    display: none;
    font-size: 18px;
    position: fixed;
    background-color: rgba(252, 249, 239, 0.7);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .shopping__basket-title {
    line-height: 35px;
    padding-bottom: 20px;
  }
  .shopping__basket-empty {
    padding: 30px 0 40px 0;
  }
  .shopping__basket-body {
    width: 800px;
    background-color: rgba(245, 226, 191, 0.9);
    border-radius: 10px;
  }
  .shopping__basket-form {
    padding: 30px;
  }
  .shopping__basket-header {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .shopping__basket-total {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .shopping__basket-button {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
    display: block;
    width: 100%;
  }
  .shopping__basket-clear {
    background-color: chocolate;
    display: inline-block;
    cursor: pointer;
  }
  .shopping__basket-button:hover {
    background-color: rgb(250, 249, 221);
  }
  .shopping__basket-items {
    padding-top: 10px;
    max-height: 400px;
    overflow: auto;
    scrollbar-width: none;
  }
  .shopping__basket-items::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .shopping__basket-item {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .basket__item-content {
    display: flex;
    justify-content: left;
  }
  .basket__item-left {
    width: 180px;
    margin-right: 20px;
  }
  .basket__item-left-img {
    width: 180px;
  }
  .basket__item-text {
    line-height: 20px;
    padding: 10px 0;
  }
  .basket__item-text p {
    padding-bottom: 10px;
  }
  .basket__item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .basket__item-count {
    display: flex;
    justify-content: center;
  }
  .count__minus,
  .count__plus,
  .basket__count {
    width: 55px;
    height: 55px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
  }
  .item__attributes {
    font-weight: 600;
  }
  .delete_btn {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  .carousel__list {
    width: 100%;
    position: relative;
    border: 1px solid red;
  }
  .carousel__list-wrap {
    width: -moz-max-content;
    width: max-content;
  }
  .carousel__list-left {
    position: absolute;
    background-color: gray;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .carousel__list-right {
    position: absolute;
    background-color: gray;
    padding: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .carousel__item {
    padding: 10px;
    display: inline-block;
    border: 1px solid blue;
    width: 220px;
  }
  .carousel__item-img {
    height: 250px;
    border: 1px solid green;
    margin: 0 auto;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}/*# sourceMappingURL=style.css.map */